@font-face {
    font-family: 'MiSans';
    font-display: swap;
    src: url('/fonts/MiSans-Bold.ttf') format("truetype");
    src: url('/fonts/MiSans-Demibold.ttf') format("truetype");
    src: url('/fonts/MiSans-ExtraLight.ttf') format("truetype");
    src: url('/fonts/MiSans-Heavy.ttf') format("truetype");
    src: url('/fonts/MiSans-Light.ttf') format("truetype");
    src: url('/fonts/MiSans-Medium.ttf') format("truetype");
    src: url('/fonts/MiSans-Normal.ttf') format("truetype");
    src: url('/fonts/MiSans-Regular.ttf') format("truetype");
    src: url('/fonts/MiSans-Semibold.ttf') format("truetype");
    src: url('/fonts/MiSans-Thin.ttf') format("truetype");
  }